body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    background-image: url('images/paper.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    background-position: center; /* Centers the image */
  }
  
header {
    /*background-color: #4CAF50;*/
    color: black;
    padding: 10px 10px;
    
  } 
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #008CBA;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005f6b; /* Change color on hover */
  }
  
p {
    margin-bottom: 15px;
}
.image-style {
    max-width: 100%; /* Ensures the image scales to fit its container */
    width: 250px;
    height: auto; /* Maintains the aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow (optional) */
    display: block; /* Centers the image with margin auto */
    margin: 20px auto;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap; /* Allows images to wrap to the next line */
    gap: 10px; /* Adds space between images */
    justify-content: center; /* Centers the images */
  }
  
  .gallery-img {
    max-width: 200px; /* Adjusts the size of each image */
    height: auto; /* Maintains aspect ratio */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  